<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="story">
            <h2><span>Story</span> {{story.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{story.code}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{story.name}}</span>
                </dd>
                <dt><span>Descripcion</span></dt>
                <dd>
                    <span>{{story.descripcion}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{story.status}}</span>
                </dd>
                <dt><span>Iteracion</span></dt>
                <dd>
                    <div *ngIf="story.iteracion">
                        <a [routerLink]="['/sprint', story.iteracion?.id, 'view']">{{story.iteracion?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/story', story.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
