<div>
    <h2 id="page-heading">
        <span>Periods</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-period" [routerLink]="['/period/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Period
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="periods">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Start Date</span></th>
            <th><span>Endate</span></th>
            <th><span>Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let period of periods ;trackBy: trackId">
                <td><a [routerLink]="['/period', period.id, 'view' ]">{{period.id}}</a></td>
                <td>{{period.startDate | date:'mediumDate'}}</td>
                <td>{{period.endate | date:'mediumDate'}}</td>
                <td>{{period.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/period', period.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/period', period.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'period', { outlets: { popup: period.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
