<div>
    <h2 id="page-heading">
        <span>Sprints</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sprint" [routerLink]="['/sprint/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Sprint
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sprints">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>End Date</span></th>
            <th><span>Start Date</span></th>
            <th><span>Status</span></th>
            <th><span>Equipo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sprint of sprints ;trackBy: trackId">
                <td><a [routerLink]="['/sprint', sprint.id, 'view' ]">{{sprint.id}}</a></td>
                <td>{{sprint.name}}</td>
                <td>{{sprint.endDate | date:'mediumDate'}}</td>
                <td>{{sprint.startDate | date:'mediumDate'}}</td>
                <td>{{sprint.status}}</td>
                <td>
                    <div *ngIf="sprint.equipo">
                        <a [routerLink]="['../team', sprint.equipo?.id, 'view' ]" >{{sprint.equipo?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sprint', sprint.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sprint', sprint.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sprint', { outlets: { popup: sprint.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
