<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sprint">
            <h2><span>Sprint</span> {{sprint.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{sprint.name}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{sprint.endDate}}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{sprint.startDate}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{sprint.status}}</span>
                </dd>
                <dt><span>Equipo</span></dt>
                <dd>
                    <div *ngIf="sprint.equipo">
                        <a [routerLink]="['/team', sprint.equipo?.id, 'view']">{{sprint.equipo?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sprint', sprint.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
