<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-team-heading">Create or edit a Team</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!team.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="team.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="team.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="team.status" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_proyecto">Proyecto</label>
                    <select class="form-control" id="field_proyecto" name="proyecto" [(ngModel)]="team.proyecto"  required>
                        <option *ngIf="!editForm.value.proyecto" [ngValue]="null" selected></option>
                        <option [ngValue]="proyectOption.id === team.proyecto?.id ? team.proyecto : proyectOption" *ngFor="let proyectOption of proyects; trackBy: trackProyectById">{{proyectOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.proyecto?.dirty && editForm.controls.proyecto?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.proyecto?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
