<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="team">
            <h2><span>Team</span> {{team.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{team.name}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{team.status}}</span>
                </dd>
                <dt><span>Proyecto</span></dt>
                <dd>
                    <div *ngIf="team.proyecto">
                        <a [routerLink]="['/proyect', team.proyecto?.id, 'view']">{{team.proyecto?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/team', team.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
