<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="review">
            <h2><span>Review</span> {{review.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Timestamp</span></dt>
                <dd>
                    <span>{{review.timestamp}}</span>
                </dd>
                <dt><span>Commnet</span></dt>
                <dd>
                    <span>{{review.commnet}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{review.status}}</span>
                </dd>
                <dt><span>Codigo HU</span></dt>
                <dd>
                    <div *ngIf="review.codigoHU">
                        <a [routerLink]="['/story', review.codigoHU?.id, 'view']">{{review.codigoHU?.code}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/review', review.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
