<div>
    <h2 id="page-heading">
        <span>Reviews</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-review" [routerLink]="['/review/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Review
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="reviews">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Timestamp</span></th>
            <th><span>Commnet</span></th>
            <th><span>Status</span></th>
            <th><span>Codigo HU</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let review of reviews ;trackBy: trackId">
                <td><a [routerLink]="['/review', review.id, 'view' ]">{{review.id}}</a></td>
                <td>{{review.timestamp | date:'mediumDate'}}</td>
                <td>{{review.commnet}}</td>
                <td>{{review.status}}</td>
                <td>
                    <div *ngIf="review.codigoHU">
                        <a [routerLink]="['../story', review.codigoHU?.id, 'view' ]" >{{review.codigoHU?.code}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/review', review.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/review', review.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'review', { outlets: { popup: review.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
