<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-review-heading">Create or edit a Review</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!review.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="review.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_timestamp">Timestamp</label>
                    <div class="input-group">
                        <input id="field_timestamp" type="text" class="form-control" name="timestamp" ngbDatepicker  #timestampDp="ngbDatepicker" [(ngModel)]="review.timestamp"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="timestampDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_commnet">Commnet</label>
                    <input type="text" class="form-control" name="commnet" id="field_commnet"
                        [(ngModel)]="review.commnet" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="review.status" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_codigoHU">Codigo HU</label>
                    <select class="form-control" id="field_codigoHU" name="codigoHU" [(ngModel)]="review.codigoHU"  required>
                        <option *ngIf="!editForm.value.codigoHU" [ngValue]="null" selected></option>
                        <option [ngValue]="storyOption.id === review.codigoHU?.id ? review.codigoHU : storyOption" *ngFor="let storyOption of stories; trackBy: trackStoryById">{{storyOption.code}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.codigoHU?.dirty && editForm.controls.codigoHU?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codigoHU?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
