<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="proyect">
            <h2><span>Proyect</span> {{proyect.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{proyect.name}}</span>
                </dd>
                <dt><span>Num Student</span></dt>
                <dd>
                    <span>{{proyect.numStudent}}</span>
                </dd>
                <dt><span>Schedule</span></dt>
                <dd>
                    <span>{{proyect.schedule}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{proyect.status}}</span>
                </dd>
                <dt><span>Periodo</span></dt>
                <dd>
                    <div *ngIf="proyect.periodo">
                        <a [routerLink]="['/period', proyect.periodo?.id, 'view']">{{proyect.periodo?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/proyect', proyect.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
