<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-proyect-heading">Create or edit a Proyect</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!proyect.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="proyect.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="proyect.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numStudent">Num Student</label>
                    <input type="number" class="form-control" name="numStudent" id="field_numStudent"
                        [(ngModel)]="proyect.numStudent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_schedule">Schedule</label>
                    <input type="text" class="form-control" name="schedule" id="field_schedule"
                        [(ngModel)]="proyect.schedule" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="proyect.status" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_periodo">Periodo</label>
                    <select class="form-control" id="field_periodo" name="periodo" [(ngModel)]="proyect.periodo"  required>
                        <option *ngIf="!editForm.value.periodo" [ngValue]="null" selected></option>
                        <option [ngValue]="periodOption.id === proyect.periodo?.id ? proyect.periodo : periodOption" *ngFor="let periodOption of periods; trackBy: trackPeriodById">{{periodOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.periodo?.dirty && editForm.controls.periodo?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.periodo?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
