<div>
    <h2 id="page-heading">
        <span>Proyects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proyect" [routerLink]="['/proyect/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Proyect
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="proyects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Num Student</span></th>
            <th><span>Schedule</span></th>
            <th><span>Status</span></th>
            <th><span>Periodo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proyect of proyects ;trackBy: trackId">
                <td><a [routerLink]="['/proyect', proyect.id, 'view' ]">{{proyect.id}}</a></td>
                <td>{{proyect.name}}</td>
                <td>{{proyect.numStudent}}</td>
                <td>{{proyect.schedule}}</td>
                <td>{{proyect.status}}</td>
                <td>
                    <div *ngIf="proyect.periodo">
                        <a [routerLink]="['../period', proyect.periodo?.id, 'view' ]" >{{proyect.periodo?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/proyect', proyect.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proyect', proyect.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'proyect', { outlets: { popup: proyect.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
