<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-student-heading">Create or edit a Student</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!student.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="student.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="student.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="student.lastName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_role">Role</label>
                    <input type="text" class="form-control" name="role" id="field_role"
                        [(ngModel)]="student.role" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="student.status" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_equipo">Equipo</label>
                    <select class="form-control" id="field_equipo" name="equipo" [(ngModel)]="student.equipo"  required>
                        <option *ngIf="!editForm.value.equipo" [ngValue]="null" selected></option>
                        <option [ngValue]="teamOption.id === student.equipo?.id ? student.equipo : teamOption" *ngFor="let teamOption of teams; trackBy: trackTeamById">{{teamOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.equipo?.dirty && editForm.controls.equipo?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.equipo?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codigoHU">Codigo HU</label>
                    <select class="form-control" id="field_codigoHU" name="codigoHU" [(ngModel)]="student.codigoHU"  required>
                        <option *ngIf="!editForm.value.codigoHU" [ngValue]="null" selected></option>
                        <option [ngValue]="storyOption.id === student.codigoHU?.id ? student.codigoHU : storyOption" *ngFor="let storyOption of stories; trackBy: trackStoryById">{{storyOption.code}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.codigoHU?.dirty && editForm.controls.codigoHU?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codigoHU?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
