<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="student">
            <h2><span>Student</span> {{student.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{student.name}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{student.lastName}}</span>
                </dd>
                <dt><span>Role</span></dt>
                <dd>
                    <span>{{student.role}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{student.status}}</span>
                </dd>
                <dt><span>Equipo</span></dt>
                <dd>
                    <div *ngIf="student.equipo">
                        <a [routerLink]="['/team', student.equipo?.id, 'view']">{{student.equipo?.name}}</a>
                    </div>
                </dd>
                <dt><span>Codigo HU</span></dt>
                <dd>
                    <div *ngIf="student.codigoHU">
                        <a [routerLink]="['/story', student.codigoHU?.id, 'view']">{{student.codigoHU?.code}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student', student.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
